@import 'variables';
@import 'header';
@import 'home';
@import 'admin';
@import 'manage';
@import 'login';
@import 'register';
@import 'quiz';
@import 'detailQuiz';
@import 'manageQuiz';
@import 'questions';
@import 'dashboard';
@import 'profile';
@import 'check';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.languages {

  .dropdown-toggle::after {
    display: none;
  }
}

.app-container {
  .app-content {
    height: calc(100vh - 60px);
  }
}